
body {
    background-color: rgb(175, 191, 204);
}

p,
h1 {
    text-align: center;
}

h5 {
    text-align: center;
}


.formcds2 {
    background-color: rgb(208, 201, 218);
    margin-top: 100;
    margin-left: 600;
    margin-right: 600;
    height: 370;
}

a:link{
    text-decoration:none;
    color:rgb(0, 24, 88);
    }
    
    a:visited{
    text-decoration:none;
    color:rgb(52, 33, 63);
    }
