
body {
    background-color: rgb(224, 223, 213);
}

p,
h1 {
    text-align: center;
}

h5 {
    text-align: center;
}


.formcds2 {
    background-color: rgb(208, 201, 218);
    margin-top: 100;
    margin-left: 600;
    margin-right: 600;
    height: 370;
}

a:link{
    text-decoration:none;
    color:rgb(36, 140, 189);
    }
    
    a:visited{
    text-decoration:none;
    color:rgb(131, 36, 187);
    }

    .carousel-control, .carousel-control:hover {
        opacity: 1;
     }

     .forms_log{
         align-content: center;
         margin-bottom: 2%;
         margin-top: 8%;
     }
     

    